<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebUrl" value="http://10.242.2.194:3000/api/{0}/{1}" />
    <add key="LoginWebUrl" value="http://10.242.2.194:3000/api/" />
    <add key="ClientId" value="" />
    <add key="SecretId" value="" />
  </appSettings>
    
</configuration> 