################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/obj/Release/netcoreapp2.2
/WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Data/obj/Release/netcoreapp2.2
/WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Domain/obj/Release/netcoreapp2.2
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Data/obj/Debug/netcoreapp2.2/MobileJO.Data.csprojAssemblyReference.cache
/WEB/MobileJO/VueJS Base Code/.vs/config/applicationhost.config
/WEB/MobileJO/VueJS Base Code/.vs/node_modules
*.suo
*.cache
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Domain/obj/Release/netcoreapp2.2/MobileJO.Domain.AssemblyInfo.cs
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Data/obj/Release/netcoreapp2.2/MobileJO.Data.AssemblyInfo.cs
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/obj/Release/netcoreapp2.2/MobileJO.API.RazorAssemblyInfo.cs
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/obj/Release/netcoreapp2.2/MobileJO.API.AssemblyInfo.cs
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.Domain.dll
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.Data.pdb
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.Data.dll
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.API.pdb
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.API.dll
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin/Debug/netcoreapp2.2/MobileJO.Domain.pdb
WEB/MobileJO/ASP .NET CORE Base Code/.vs/MobileJO/v15/Server/sqlite3/storage.ide-wal
WEB/MobileJO/ASP .NET CORE Base Code/.vs/MobileJO/v15/Server/sqlite3/storage.ide-shm
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Data/obj
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/obj
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Domain/obj
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Data/bin
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.API/bin
WEB/MobileJO/ASP .NET CORE Base Code/MobileJO.Domain/bin
WEB/MobileJO/ASP .NET CORE Base Code/.vs/MobileJO/v15/Server/sqlite3/storage.ide
/WEB/MobileJO/ASP .NET CORE Base Code/.vs/MobileJO/v15/Server/sqlite3/db.lock
WEB/MobileJO/ASP .NET CORE Base Code/.vs/config/applicationhost.config
*.config
